html { margin:0 2em; text-align:center; font:21px Arial, sans-serif;
  background:#e8ff00; color:#120 }
aside { position:absolute; font-size:.5em; top:.8em; right:1em }
@media(prefers-color-scheme:dark) {
  html { background:#120; color:#e8ff00 }
}
